.carucel{
    height: 600px;

}

p{
    font-size: 25px;
}

footer{

    background-color: darkgrey;

}

main{

background-image: url("https://us.123rf.com/450wm/dodes11/dodes111507/dodes11150700019/43201760-tri%C3%A1ngulo-de-fondo-p%C3%A1gina-web-vector-illustration-fondo-abstracto-dise%C3%B1o-de-semitono-del-fondo-templates-ge.jpg?ver=6");
background-attachment: static;
}


h1{
    color:#ee0a74;
}
h2 {
    color:#020202;
}
h3 {
color:#030303;
}
h4{
    color:#000000;
}